div(class='login-credentials-wrapper forms-wrapper')
    form(class='forms-container')
        div(class='login-input-container forms-field')
            label(for='login-nick-name') Login
            input(type='text' id='login-nick-name')
        div(class='login-input-container forms-field')
            label(for='login-password') Passowrd
            input(type='password' id='login-password' autocomplete='password')
        div(class='login-user-info' id='login-user-information')
        div(class='login-keypad-container forms-keypad')
            div(class='login-login forms-button')
                span Login
            div(class='login-register forms-button')
                span Register

    script
        console.log('login')
        //- include ../../scripts/login/login.js
