include ../mixins/button.pug

div(class='login-credentials-wrapper forms-wrapper')
    h2 Register user
    form(class='forms-container')
        .login-form-fields
            div(class='login-input-container forms-field')
                label(for='register-nick-name') Login
                input(type='text' id='register-nick-name')
            div(class='login-input-container forms-field')
                label(for='register-password') Passowrd
                input(type='password' id='register-password' autocomplete='password')
            div(class='login-input-container forms-field')
                label(for='register-first-name') First name
                input(type='text' id='register-first-name')
            div(class='login-input-container forms-field')
                label(for='register-family-name') Family name
                input(type='password' id='register-family-name' autocomplete='password')

        div(class='login-keypad-container forms-keypad')
            +button('Register', ['register-register'])
        ul(class='register-message' id='register-message')

    script
        console.log('login')
        //- include ../../scripts/login/login.js
